.imageSlider {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	background-color: aliceblue;

	flex-direction: row;
}

.slides {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: auto;
}

.slides img {
	max-width: 70%;
	max-height: 100%;
	object-fit: contain;
	transition: transform 0.5s ease-in-out;
	padding: 0 10px;
}

.previousBtn {
	flex: 1;
}

.nextBtn {
	flex: 1;
}
