.imageSlider {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	flex-direction: row;
}
.imageSlider button {
	border-radius: 1rem;
	border: none;
	padding: 1rem;
	background-color: #f9b208;
}
.imageSlider button:hover {
	background-color: #ffc93c;
}

.slides {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex: auto;
	overflow: hidden;
	max-height: 80%;
	flex: 10;
	min-width: 50%;
}

.slides div {
	flex: 1;
	display: flex;
	justify-content: center;
	max-width: 100%;
}
.slides img {
	width: 100%;
	object-fit: contain;
	transition: transform 0.5s ease-in-out;
}

.previousBtn {
	flex: 1;
	display: flex;
	justify-content: center;
}

.nextBtn {
	flex: 1;
	display: flex;
	justify-content: center;
}
