.header {
	margin: auto;
	padding: 1rem 0 1rem 0;
	display: flex;
	position: sticky;
	top: 0;
	height: 80px;
	background-color: #6b728e;
	z-index: 1;
}

.header nav {
	width: 100vw;
	display: flex;
	flex-direction: column;

	flex-wrap: wrap;
}
.list {
	display: flex;
	text-align: center;
	justify-content: center;
	max-height: 80px;
}

.list a {
	text-decoration: none;
	color: var(--color-primary-400);
}

.list a:hover,
.list a.active {
	color: var(--color-primary-800);
	text-decoration: underline #f9b208 1px;
}

.menu {
	flex-basis: 20%;
	justify-content: center;
	align-items: center;
}
.menu p {
	font-size: large;
}
.label {
	flex-basis: 40%;
	align-items: center;
	justify-content: center;
	display: flex;
}

.routes {
	flex-basis: 10%;
	justify-content: center;
	align-items: center;
	display: flex;
}
