.testimonials {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 70vh;
	padding: 1rem;
}
.testimonials button {
	border-radius: 1rem;
	border: none;
	padding: 1rem;
	background-color: #f9b208;
}
.testimonials button:hover {
	background-color: #ffc93c;
}

.previousBtn {
	flex: 1;
	display: flex;
	justify-content: center;
	padding: 1rem;
}

.nextBtn {
	flex: 1;
	display: flex;
	justify-content: center;
	padding: 1rem;
}
.testimonials-image {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex: auto;
	overflow: hidden;
	max-height: 80%;
	flex: 10;
	min-width: 50%;
	color: #6b728e;
}

.testimonials-portrait {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
	overflow: hidden;
}

.testimonials-image img {
	object-fit: contain;
	max-height: 80%;
	max-width: 80%;
}
.testimonials-text {
	display: flex;
	flex-direction: column;
	flex: 1;
	justify-content: center;
	align-items: center;
}

.testimonials-userName {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
	height: 100%;
	width: 100%;
	padding: 1rem;
	text-decoration: underline #f9b208;
}

.testimonials-comment {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 5;
	height: 100%;
	width: 100%;
	padding: 1rem;
	flex-wrap: wrap;
}
